body
    margin: 0;
    padding: 0;
header
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    .burger-menu
        border: none;
        background-color: white;
        padding-left: 90px;
        img
            width: 29px;
    nav
        ul
            display: none;
